.container {
    width:1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .uptitle {
    font-style: normal;
    font-weight: 500;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--color-blak)
  }