.client__title {
  @include font(700, 36px, 1.1666, 0.03em);
  text-align: center;
  margin-bottom: 50px;
}
  
.client__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.client__item {
    width: 170px;
    height: 92px;
}
.client__icon {
  fill: currentColor;
  transition: fill 250ms linear;
  .client__link:hover & {
    fill: var(--color-blue);
  }
  &:hover,
  &:focus {
    fill: var(--color-blue);
  }
}
.client__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: var(--color-lightgray);
  transition: border-color 250ms linear;
  &:hover,
  &:focus {
   border-color: var(--color-blue);
  }
}
  