.header__contact {
  list-style: none;
  display: flex;
  margin-left: auto;
 align-items: center;
}

.contact__mail {
  color: var(--color-gray);
  &:focus,
  &:hover {
    color: var(--color-blue);
  }
}
.contact__envelope {
    fill: currentColor;
    margin-right: 10px;
    .mail:hover & {
      fill:var(--color-blue) 
    } 
    &:hover,
    &:focus {
      fill: var(--color-blue);
    }
    
  }
  .contact__smartphone {
    margin-left: 30px;
    margin-right: 10px;
    .contact:hover & {
      fill: var(--color-blue);
    }
    &:hover,
    &:focus {
    fill: var(--color-blue);  
    }
  }
  
  .contact__phone {
    margin-left: 10px;
    color: var(--color-gray);
    &:focus,
    &:hover {
      color: var(--color-blue);
    }
  }
 
  
  
  
  
  