.mail-icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .contact-icon {
    margin-left: 30px;
    margin-right: 10px;
  }
  
  .contact {
    margin-left: 10px;
    color: var(--color-gray);
  }
  .mail:focus,
  .mail:hover {
    color: var(--color-blue);
  }
  
  .contact:focus,
  .contact:hover {
    color: var(--color-blue);
  }
  .contact:hover .contact-icon {
    fill: var(--color-blue);
  }
  
  .mail-icon:hover,
  .mail-icon:focus {
    fill: var(--color-blue);
  }
  .contact-icon:hover,
  .contact-icon:focus {
    fill: var(--color-blue);  
  }
  .mail:hover .mail-icon {
    fill:var(--color-blue) 
  } 
  
  
  