.features__picture {
  background: #F5F4FA;
  border-radius: 4px;;
  width: 270px;
  height: 120px;
  display: flex;
 text-align: center;
 align-items: center;
 justify-content: center;
 margin-bottom: 30px;

}

.features__title {
  display: flex;
  gap: 30px; 
}
.features__subtitle {
  flex-basis: calc((100% - 90px) / 4) ;
} 

.features__lead {
  @include font(700, 14px, 1.1428, null);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  @include font(null, null, 1.7142, null);
  color: var(--color-gray);
}
