.hero__section {
    max-width: 1600px;
    height: 600px;
  background-image:linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../images/ofis.jpg);
  padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin: 0 auto;
  }
  
  .hero__title {
    @include font(900, 44px, 1.5, 0.06em);
    text-align: center;
    text-transform: uppercase;
    color:var(--color-white);
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .hero__btn {
    @include font(700, 16px, 1.875, 0.06em);
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px 32px;
  }
  
